div {
    width: 100px;
    height: 100px;
    background-color: deeppink;
    border-radius: 50%;
    position: fixed; /*absolut, fixed*/
    top: 500px;
    left: 500px;
}


div:hover {
    background-color: green;
    width: 150px;
    height: 150px;
    transition: 1s;
}


h1::first-letter {
    color: blue;
    font-size: 50px;
    border-radius: 10px;
    background-color: yellow;
}


h1::before {
    content: "&";
}


h1::after {
    content: "*";
}


a:link {
    color: black;
}


a:visited {
    color: blue;
}


a:hover {
    color: red;
}


a:active {
    color: green;
}